<html>
<body>
<form action="/customers/add" method="post">
<table>

	<tr>
		<td>CIN</td>
		<td>:</td>
		<td> <input type="text" name="cin" value="" ></td>
	</tr>

	<tr>
		<td>First Name</td>
		<td>:</td>
		<td> <input type="text" name="firstname" value="" ></td>
	</tr>	

	<tr>
		<td>Last Name</td>
		<td>:</td>
		<td> <input type="text" name="lastname" value="" ></td>
	</tr>

	<tr>
		<td>Username</td>
		<td>:</td>
		<td> <input type="text" name="username" value="" ></td>
	</tr>


	<tr>
		<td>Password</td>
		<td>:</td>
		<td> <input type="password" name="password" value="" ></td>
	</tr>

	<tr>
		<td>Email</td>
		<td>:</td>
		<td> <input type="text" name="email" value="" ></td>
	</tr>


	<tr>
		<td>Phone Number</td>
		<td>:</td>
		<td> <input type="text" name="phonenumber" value="" ></td>
	</tr>

	<tr>
		<td>Adress</td>
		<td>:</td>
		<td> <input type="text" name="adress" value="" ></td>
	</tr>


	<tr>
		<td>
			<input type="submit" name="btn" value="Add">
			<input type="reset" name="btn" value="Reset">
		</td>
	</tr>
</table>
</form>
</body>


</html>