<img src="wamya.png" alt="" />
<h2>Wamya Node js components using express.js</h2>
<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/Delivery"> Delivery man </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/"> Client </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/vehicule"> Vehicule </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/Package"> Package </a></li>
  </ul>
</nav>
